body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

a:hover {
  color: rgb(182, 184, 179);
}

.active {
  border-bottom: 1px solid white;
}

.nav {
  background: rgba(128, 126, 126, 0.432);
  height: 30px;
  font-size: 20px;
}

body {
  color: white;
  background-image: url("https://i.imgur.com/ltLaIPK.jpg");
}

body:after {
  content: "";
  animation: grain 8s steps(10) infinite;
  background-image: url("https://i.imgur.com/cs6pqo1.png");
  height: 300%;
  width: 300%;
  opacity: 0.03;
  position: fixed;
}
